<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Work Checher by mEAT$CODe team</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<script>
			$("#customTemplate").css("display", "block");
		
			$(document).ready(function() {
				$('#templateType').change(function() {
					if($(this).val() === "2")
					{
						$("#customTemplate").css("display", "block");
					}
					else
					{
						$("#customTemplate").css("display", "none");
					}
				});
			});
		</script>
		
		<style>
		
		#customTemplate{
			display: none;
		}
		
		</style>
		
    </head>
	
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-brand">WORK CHECKER by mEAT$CODe team</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="m-1"><a class="btn btn-light" href="{% url 'checker' %}">Проверка работы</a></li>
                        <li class="m-1"><a class="btn btn-light" href="{% url 'constructor' %}">Конструктор шаблонов</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="text-center mt-5">
				
                <h1>Проверка работы</h1>

				</br>

                <div id="accordion">
                    <div class="card">
                          <button class="btn btn-warning" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <b>ВНИМАНИЕ! Необходимо загрузить отчет и в формате .docx(.doc), и в формате .htm(.html).</b>
                          </button>
                  
                      <div id="collapseOne" class="collapse alert-warning" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>Вы можете сохранить свой отчет в формат .htm в Microsoft Office Word следующим образом:</p>
                            <ol>
                                <li>Выбрать пункт "Файл" слева сверху в Microsoft Word;</li>
                                <li>В появившемся меню нажать "Сохранить как";</li>
                                <li>После нажать на кнопку "Обзор";</li>
                                <li>Выбрать в выпадающем списке "Тип файла" пункт "Веб-страница(*.htm,*.html)"</li>
                            </ol>
                            <img src="{% static 'Tutor.png' %}" alt="Tutor.PNG" class="rounded img-fluid">
                        </div>
                      </div>
                    </div>
                </div>

                </br>
                
				<form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="border border-2 border-secondary rounded-3 p-3">
                        <h4 for="formFileLg">Загрузить работу (.doc, .docx)</h4>
                        <input name="DocFile" class="form-control form-control-lg" id="formFileLg" type="file" accept=".doc,.docx">
                    </div>

                    </br>

                    <div class="border border-2 border-secondary rounded-3 p-3">
                        <h4 for="formFileLg">Загрузить работу (.htm, .html)</h4>
                        <input name="HtmlFile" class="form-control form-control-lg" id="formFileLg" type="file" accept=".htm,.html">
                    </div>
                    
                    </br>

                    <div class="border border-2 border-secondary rounded-3 p-3">
                        <h4 for="formFileLg">Выберите шаблон проверки</h4>
                        <select name="DocType" id="templateType" class="form-select form-select-lg" aria-label=".form-select-lg example">
                            <option value="1" selected>Отчет по курсовой работе</option>
                            <option value="2">Свой шаблон проверки</option>
                        </select>

                        <div id="customTemplate">
                        </br>

                        <div class="border border-1 border-info rounded-3 p-3">
                            <h4 for="formFileLg">Загрузить свой шаблон (.wct)</h4>
                            <input name="CustomTemplate" class="form-control form-control-lg" id="formFileLg" type="file" accept=".wct">
                        </div></div>
                        
                    </div>

                    <div class="d-grid gap-2 mt-4 mb-4">
                        <button type="submit" class="btn btn-dark btn-lg">Запустить проверку</button>
                    </div>
                </form>

                {% if notDoc %}
                </br>
                <div class="alert alert-danger">Вы не загрузили .doc(.docx) файл!</div>
                {% endif %}
                {% if notHtml %}
                </br>
                <div class="alert alert-danger">Вы не загрузили .htm(.html) файл!</div>
                {% endif %}
                {% if notWCT %}
                </br>
                <div class="alert alert-danger">Вы не загрузили свой .wct шаблон!</div>
                {% endif %}

            </div>
        </div>
    </body>
	
</html>